body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    position: relative;
    width: 98.9vw;
    height: 100vh;
    box-sizing: border-box;
    background-color:  #f5f5f5;
    
    /* background-image: url(../images/bg.png); */
    /* background-repeat: no-repeat; */
    /* background-size: 1330px; */
    /* background-position: right bottom; */
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #0f1626;
    z-index: 1;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 5);
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    font-size: 14px;
    color: #f5f5f5;
}



.menu li a:hover {
    font-weight: 700;
    transition: all ease 0.5s;
    color: #0f1626;
    background-color: #f5f5f5;
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
}

.name p:nth-child(1), .name .details {
    color: #0f1626;
    font-size: 16px;
}

.name h1 {
    font-family: 'Poppins', sans-serif;
    /* font-weight: bolder; */
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #0f1626;
}

.cvbtn {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1626;
    color: #ffffff;
}

.cvbtn:hover {
    color: #0f1626;
    background-color: #ff533d;
    transition: all ease 0.5s;
}

.social ul {
    display: flex;
    left: 50px;
    bottom: 15px;
    position: absolute;
}

.social a {
    color: #0f1626;
    margin: 6px 12px;
}

.social a:hover {
    color: #e94560;
}

.social ul li .fa {
    font-size: 30px;
}

#about {
    background-color: #0f1626;
    padding: 90px;
    color: #f5f5f5;
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

#about-text {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#about-text h1 {
    padding-top: 40px;
    color: #e94560;
}

#p1 {
    padding-top: 20px;
}

.data {
    font-size: 30px;
    padding-top: 75px;
}

#skill {
    /* background-color: #2d4059; */
    /* font-size: 1px; */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.inner {
    padding-top: 20px;
}

.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
    padding: 2rem;
}

.header h1 {
    color: #e94560;
}

.header h3 {
    color: #0f1626;
}

.container {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
}

.skill-box {
    padding: 1rem;
    cursor: pointer;
}

.skill-title {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 0.5rem;
}

.skill-title h3 {
    color: #0f1626;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.skill-box p {
    color: #0f1626;
    font-size: 17px;
}

.img {
    width: 80px;
    height: 90px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #0f1626;
    border-radius: 75px;
}

.simg {
    width: 50px;
}

.img:hover {
    border: 2px solid #ab987a;
}

html {
    scroll-behavior: smooth;
}

@media(max-width:1190px) {
    #main {
        background-size: 1150px;
    }
    .name {
        left: 10%;
        top: 50%;
        transform: translate(-10%, 50%);
    }
}

@media(max-width:970px){
    #main {
        background-image: none!important;
        background-color: #f5f5f5;
        /* width: 200%; */
    }
    .menu li a {
        padding: 12px 30px;
        font-size: 20px;
    }
    
    .name {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #about {
        justify-content: center;
        padding-top: 100px;
        width: 100vw;
    }
    #skill {
        width: 100vw;
    }
}


